*.alpha: 1
*.borderpx: 8

! FONT
*.font: Iosevka:pixelsize=13:autohint=true*font,M+ 2p:style=Regular:pixelsize=13:antialias=true:autohint=true*font; 
*.boldfont: Iosevka:style=Bold:pixelsize=13:autohint=true*font,M+ 2p:style=bold:pixelsize=13:antialias=true:autohint=true*font; 

! CURSOR
*.cursorColor: #4C5460
